* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #292524;
  position: relative;
}

p {
  color: #292524;
}

h2 {
  margin-bottom: 80px;
  font-size: 36px;
  letter-spacing: -0.5px;
  font-weight: 700;
}

h4 {
  margin-bottom: 10px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60px;
}

.btn:link,
.btn:visited {
  background-color: #eab308;
  color: #171717;
  font-family: "Poppins", sans-serif;
  font-weight: bold 700;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  display: inline-block;
  border-radius: 100px;
  transition: all 0.4s;
}

.btn:hover,
.btn:active {
  background-color: #facc15;
}

.btn--big {
  font-size: 17px;
  padding: 16px 32px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.action-btn:link,
.action-btn:visited {
  font-size: 16px;
  background-color: #eab308 !important;
  color: #171717;
  font-family: "Poppins", sans-serif;
  padding: 10px 30px !important;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  transition: all 0.4s;
}

.input-headline {
  font-size: 15px;
  width: 490px;
  height: 45px;
  border: none;
  box-shadow: 0.3px 1px 1px rgb(0 0 0 / 15%);
  border-radius: 20px;
  background-color: #fefce841;
  position: relative;
  transition: all 0.4s;
  padding-left: 10px;
}

.users-area {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.artists {
  color: #44403c;
}

.users-number {
  margin-right: 3px;
  font-size: 17px;
  color: #eab308;
}

.users-imgs {
  display: flex;
}

.users-imgs img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: -12px;
  border: 2px solid #fef9c3;
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 10%);
  transition: all 0.1s;
  overflow: hidden;
}

.users-imgs img:hover {
  border: 1px solid #fef9c3;
}

.search-icon {
  width: 22px;
  height: 22px;
  color: #57534eb6;
  z-index: 99999;
  cursor: pointer;
  transform: translateX(-33px);
}

.search-input-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-features {
  width: 30px;
  height: 30px;
  padding: 17px;
  background-color: #f8fafc;
  border-radius: 50%;
  color: #f59e0b;
  margin-bottom: 22px;
  transition: all 0.3s;
}

.icon-features:hover {
  transform: translateY(-2px);
}

.input-headline::placeholder {
  padding-left: 3px;
  color: #57534eb6;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(88, 86, 86, 0.103);
}

.action-btn:hover,
.action-btn:active {
  background-color: #facc15 !important;
  transform: none !important;
  color: #171717 !important;
}

.btn--big-2:link,
.btn--big-2:visited {
  background-color: #fef9c3 !important;
  padding: 16px 36px !important;
  transition: all 0.4s;
  font-size: 17px;
}

.btn--big-2:hover,
.btn--big-2:active {
  background-color: #fef08a !important;
  transform: translateY(-5px);
}

.btn--small:any-link {
  display: inline-block;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #eab308;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(22, 20, 20);
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.btn--small:hover,
.btn--small:active {
  background-color: #facc15;
}

.section-hero {
  padding: 3rem 0 6rem 0;
  background-color: #f9fafb;
  margin-bottom: 80px;
}

.headline {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #f9fafb;
  transition: all 0.2s;
}

.sticky .headline {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999999999;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.03);
  background-color: rgb(249, 250, 251, 0.97);
  transition: all 0.2s;
  margin-bottom: -50px;
}

.sticky .section-hero {
  margin-top: 90px;
}

.hero {
  display: grid;
  grid-template-columns: 70fr 57fr;
  column-gap: 20px;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 7.6rem;
  align-items: center;
}

h1 {
  margin-bottom: 10px;
  padding-bottom: 30px;
  font-size: 53px;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 800;
}

.big-s {
  font-weight: 800;
  font-size: 28px;
}

.main-logo-text {
  font-size: 27px;
  font-weight: 800;
  position: relative;
  color: #262626;
  z-index: 1000;
}

.main-logo-line {
  color: #262626;
  position: absolute;
  width: 160px;
  height: 170px;
  top: -28px;
  left: 59px;
}

.sticky .main-logo-line {
  top: -33px;
}

.main-logo-text-footer {
  font-size: 27px;
  font-weight: 800;
  position: relative;
  color: black;
  z-index: 1000;
}

.main-logo-line-footer {
  position: absolute;
  width: 160px;
  height: 170px;
  top: -53px;
  left: 9px;
}

.btns-hero {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 17.5px;
  color: #1c1917;
  font-family: "Poppins", sans-serif;
  padding: 16px 12px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s;
  border-radius: 20px;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #57534e;
  transform: translateY(-3px);
}

.header-text-box {
  align-self: center;
}

.header-text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.7;
}

img {
  width: 100%;
}

.features-title {
  margin-bottom: 14px;
  font-size: 21px;
  font-weight: 700;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  color: #44403c;
}

.guitar-inner-heading {
  text-align: center;
}

.guitars-section-heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.guitar {
  background-color: #fafaf9;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}

.guitar:hover {
  transform: translateY(-12px);
}

.guitar-box {
  padding: 32px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
  color: inherit;
}

.guitar-details span {
  font-size: 18px;
}

.guitar-details {
  list-style: none;
  margin-bottom: 48px;
}

.guitar-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.guitar-details li:last-child {
  margin-bottom: 46px;
}

.guitar-icon {
  stroke: #292524;
  width: 28px;
  height: 28px;
  font-family: inherit;
  font-weight: 600;
}

.guitar-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.guitars-section {
  margin: 0 auto;
  padding: 0 60px;
  padding-top: 80px;
  max-width: 1300px;
  margin-bottom: 80px;
}

.guitars-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  padding: 0 35px;
}

.inner-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 55px;
  transition: all 0.3s;
}

.btn-pagination {
  border: 1px solid #eab308;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pagination:hover {
  background-color: #eab308;
}

.btn-pagination:hover .btn-icon {
  stroke: #fff;
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #eab308;
}

.page-link:link,
.page-link:visited {
  font-size: 19px;
  color: #292524;
  text-decoration: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  background-color: #eab308;
  color: #fff;
}

.dots {
  color: #868e96;
  font-size: 30px;
}

.section-2 {
  margin: 0 auto;
  padding: 0 60px;
  padding-top: 90px;
  max-width: 1290px;
  margin-bottom: 100px;
}

.section-2-content {
  margin: 0 auto;
  padding: 0 3px;
  max-width: 1300px;
}

.bands-users-section {
  margin: 0 auto;
  padding: 0 75px;
  max-width: 1300px;
  margin-bottom: 50px;
  opacity: 60%;
}

.band-logos-area {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
  column-gap: 30px;
}

.bands-users-heading {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
}

.guitar-detail-3 {
  margin-bottom: 29px;
}

.section-testimonials {
  background-color: #f9fafb;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  margin-bottom: 50px;
}

.testimonials-container {
  padding: 130px 96px;
}

.subheading {
  display: block;
  font-size: 16px;
  color: #292524f5;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 90px;
  font-family: inherit;
  font-weight: 700;
  color: #292524;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 65px;
  column-gap: 80px;
}

.testimonial-img {
  width: 64px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.testimonial-text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 16px;
  font-family: inherit;
  color: #57534e;
}

.testimonial-name {
  font-size: 16px;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.section-shipping {
  margin: 0 auto;
  padding: 0 60px;
  padding-top: 80px;
  max-width: 1300px;
  margin-bottom: 100px;
}

.shipping-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1500px;
  position: relative;
}

.shipping-components {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 176px;
}

.shipping-header {
  text-align: center;
  margin-bottom: 55px;
  font-size: 40px;
}

.shipping-sub-header {
  margin-left: 160px;
}

.dhl-img {
  background-image: linear-gradient(to bottom, #29252400, #1c1917),
    url("./shipping/dhl-2.jpg");
  background-size: cover;
  border-radius: 7px;
  transition: all 0.4s;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  font-family: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  width: 510px;
  height: 380px;
}

.dhl-img:hover {
  transform: translateY(-5px);
}

.dhl-heading {
  color: #f3f4f6;
  font-size: 20px;
  font-weight: 500;
  padding: 0 38px;
}

.dhl-sub-heading {
  color: #e5e7eb;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
  backdrop-filter: blur(1px);
  cursor: pointer;
  transition: all 0.3s;
}

.delivery-guy-img {
  background-image: linear-gradient(to bottom, #29252400, #1c1917),
    url("./shipping/shipping-2.jpg");
  width: 510px;
  height: 380px;
  background-size: cover;
  border-radius: 7px;
  transition: all 0.4s;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  font-family: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}

.delivery-guy-img:hover {
  transform: translateY(-5px);
}

.arrow-icon {
  color: #e5e7eb;
  margin-bottom: -3px;
  transition: all 0.3s;
  width: 15px;
  height: 15px;
}

.arrow-icon:hover {
  transform: rotate(90deg);
}

.accordion {
  width: 1030px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s;
}

.item {
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  padding: 20px 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 7px;
  align-items: center;
  border-radius: 7px;
  transition: all 0.3s;
}

.number,
.text {
  font-size: 20px;
  font-weight: 400;
  color: #292524;
  transition: all 0.6s;
}

.number {
  color: #ced4da;
  transition: all 0.6s;
}

.icon {
  width: 24px;
  height: 24px;
  color: #57534e;
  transition: all 0.3s;
}

.icon:hover {
  transform: rotate(90deg);
  width: 25px;
  height: 25px;
}

.hidden-box {
  grid-column: 2;
  display: none;
  transition: all 0.3s;
}

.hidden-box span {
  line-height: 1.6;
  font-size: 18px;
  font-family: inherit;
  font-weight: 400;
  color: #78716c;
  transition: all 0.3s;
}

.item:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 15%);
}

.open {
  transition: all 0.3s;
}

.open .hidden-box {
  display: block;
  transition: all 0.3s;
}

.open .number {
  /* color: #9ca3af; */
  color: #facc15;
  font-size: 50px;
  transition: all 0.6s;
}

.open .text {
  color: #44403c;
}

.open .icon {
  transform: rotate(90deg);
  color: #44403c;
}

table {
  width: 1028px;
  font-size: 20px;
  border-collapse: collapse;
  border-radius: 7px;
  margin-bottom: -50px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  transition: all 0.4s;
}

table:hover {
  transform: translateY(-5px);
}

th,
td {
  padding: 16px 24px;
  text-align: center;
}

.main-element {
  text-align: left;
  color: #292524;
}

td {
  font-weight: 400;
  color: #27272a;
}

thead tr {
  background-color: #404040;
  color: #fafafa;
  font-weight: 300 !important;
}

.main-first {
  color: #fafaf9 !important;
}

tbody tr:nth-child(odd) {
  background-color: #f9fafb;
}

tbody tr:nth-child(even) {
  background-color: #f3f4f6;
}

.heading-ques {
  margin-top: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: -20px;
}

.ques-2 {
  text-align: center;
  margin-bottom: -10px;
}

.section-cta {
  position: absolute;
  bottom: -690px;
  padding: 130px 0px 0px;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #facc15, #eab308);
  overflow: hidden;
}

.cta-text-box {
  padding: 30px 50px 45px 50px;
  color: #2f2402;
}

.cta .heading-secondary-cta {
  color: inherit;
  margin-bottom: 28px;
  font-size: 47px;
  font-weight: 700;
}

.cta-text {
  font-size: 19px;
  line-height: 1.8;
  margin-bottom: 48px;
  font-weight: 400;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, #291f0354, #facc1544),
    url("./main/order-now.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
}

.cta-form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fefce8;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(253, 242, 233, 0.5);
  transform: all 0.4s;
}

.btn--form {
  background-color: #2f2402;
  color: rgb(253, 242, 233);
  align-self: end;
  padding: 10px;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.container-cta {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.btn-ass {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  padding: 11px 32px;
  border-radius: 9px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: all 0.3s ease 0s;
}

.footer {
  padding: 128px;
  border-top: 1px solid #eee;
  position: absolute;
  bottom: -2100px;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}

.inner-footer {
  margin-bottom: 45px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.social-icon {
  height: 24px;
  width: 24px;
}

.copyright {
  font-size: 14px;
  line-height: 1.6;
  color: #767676;
  margin-top: 65px;
}

.footer-heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.address {
  margin-bottom: 24px;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 16px;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.container-footer {
  max-width: 1300px;
  padding: 0 32px;
  margin: 0 auto;
}

.grid-ass {
  display: grid;
  column-gap: 64px;
  row-gap: 96px;
}

.footer-logo-area {
  position: absolute;
  left: 1px;
  transition: all 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.footer-logo-area:hover {
  transform: translateY(-5px);
}

.main-logo-areaa {
  text-decoration: none;
  transition: all 0.1s;
  cursor: pointer;
  margin-right: 40px;
}

.main-logo-areaa:focus {
  outline: none;
  box-shadow: none;
}
